* {
    box-sizing: border-box;
}

.landingpage {
    background-image: url("img/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: whitesmoke;
    padding-top: 25vh;
    text-align: center;
    text-shadow: 0px 0px 20px #050201, 0px 0px 10px #050201, 0px 0px 3px #050201;
    font-size: 2vh;
    position: relative;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.title {
    margin-top: 0;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: .25em;
}

.firstintro {
    text-shadow: 0px 0px 20px #050201, 0px 0px 10px #050201, 0px 0px 3px #050201, 0px 0px 20px #050201, 0px 0px 10px #050201, 0px 0px 3px #050201, 0px 0px 20px #050201, 0px 0px 10px #050201, 0px 0px 3px #050201;
    font-size: 1.2em;
}

.socialmedia {
    padding: 0;
}

.socialmedia li {
    display: inline-block;
    margin-top: 6vh;
    font-size: 3em;
}

.socialmedia li:not(:first-child) {
    margin-left: 4vw;
}

.socialmedia li a:link, .socialmedia li a:visited {
    display: inline-block;
    color: rgb(158, 152, 152);
    text-decoration: none;
}

.socialmedia li a:hover {
    transform: scale(1.1);
}

.downthepage {
    color: rgb(245, 232, 232);
    display: inline-block;
    position: absolute;
    bottom: 0.6em;
    left: 0;
    right: 0;
    text-decoration: none;
    font-size: 1.5em;
}

.downthepage i {
    display: block;
    transition: transform .1s ease-in-out;
}

.downthepage:hover i {
    transform: translateY(0.1em);
}




.aboutme {
    height: 100vh;
    padding-left: 0;
    background-color: beige;
}

.aboutme > :first-child {
    margin-top: 0;
}

.row {
    display:flex;
    flex-direction: column;
}

.column {
    flex: 1;    
}

.leftcolumn {
    color: whitesmoke;
    border-radius: 15px;
    border-color: beige;
    border-width: 10px;
    border-style: solid;
}

.leftcolumn img {
    max-width: 100%;
}

.rightcolumn {
    padding: 1em;
}

.mybiodesktop {
    display: none;
}

.mybiomobile {
    padding: 1em;
}

.column li {
    height: 10vh;
    list-style: none;
}

.column ul {
    display: none;
    padding-left: 0;
    margin: 0;
}

.leftcolumn h2, .leftcolumn h3, .leftcolumn li {
    display: none;
    margin: 0;
    padding: 1rem;
    backdrop-filter: blur(3px);
    text-shadow: 0px 0px 20px #050201, 0px 0px 10px #050201, 0px 0px 3px #050201, 0px 0px 20px #050201, 0px 0px 10px #050201, 0px 0px 3px #050201, 0px 0px 20px #050201, 0px 0px 10px #050201, 0px 0px 3px #050201;

}

.leftcolumn h2 {
    margin-top: 40vh;
    padding-top: 0;
    padding-bottom: 0;

}

.column li:nth-of-type(2n), .leftcolumn h3 {
    background-color: rgba(255, 255, 255, 0.233);
}

.experience {
    background-color: beige;
    padding-left: 2em;
}

.experience > h2{
    margin: 0;
    font-size: 1.5em;
}

.experience > p {
    display: inline-block;
    padding-right: 10em;
}

.experience > p > i {
    display: block;
    font-size: 7rem;
    padding-top: 0.3em;
    color:rgba(0, 0, 0, 0.644)
}

.fa-product-hunt {
    padding-left:0.6em;
}

.fa-quidditch {
    padding-left:0.2em;
}

.fa-flask {
    padding-left:1em;
}

@media only screen and (min-width: 900px) {
    .row {
        flex-direction: row;
    }

    .mybiodesktop {
        display: block;
    }

    .mybiomobile {
        display: none;
    }

    .landingpage {
        padding-top: 25vh;
        font-size: 2.45vh;
    }
}